.dashboard {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #0078ff;
}


/* Weather slider styles */
.weather-slider {
    position: fixed;
    top: 20px;
    right: -400px;
    width: 300px;
    max-width: 100%;
    /* background-color: #fff; */
    background-color: transparent;
    backdrop-filter: blur(40px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    transition: right 0.3s ease-in-out;
    overflow: hidden;
}

.weather-slider.visible {
    right: 20px;
}

.slider-close-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    float: right;
}

.slider-close-btn:hover {
    background-color: #ff1a1a;
}

/* Weather information styles */
.weather-slider h3 {
    margin: 0 0 10px;
    color: #333;
    font-size: 18px;
}

.weather-slider p {
    margin: 5px 0;
    color: #555;
    font-size: 14px;
}

.weather-slider img {
    display: block;
    margin: 10px auto 0;
    width: 80px;
    height: 80px;
}

/* inner box  */

.weather-info {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    max-width: 600px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.weather-title {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.weather-title-2 {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    background-color: transparent;

}

.weather-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 15px;
    
}

.weather-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    margin-top: 15px;
}

.weather-grid div {
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 0.95em;
    color: #555;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-grid div strong {
    color: #222;
}

.weather-icon {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

